{
    "credentials": {
      "username": "username",
      "password": "password"
    },
    "local_prefs": {
      "log_directory": "D:/Bugs/BugsPy-master/logs",
      "generate_tracklist": true,
      "save_tracklist": false,
      "enable_release_description": false,
      "cover_name": "cover.jpg",
      "add_to_watch_folder": false,
      "add_to_downloads_folder": false,
      "local_watch_folder": "C:/watch",
      "local_downloads_folder": "C:/downloads"
    },
    "ftp_prefs": {
      "enable_ftp": false,
      "add_to_watch_folder": true,
      "add_to_downloads_folder": true,
      "ftp_server": "server url",
      "ftp_username": "username",
      "ftp_password": "password",
      "ftp_watch_folder": "/downloads/watch/transmission",
      "ftp_downloads_folder": "/downloads"
    }
